    // Place all the styles related to the users controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: https://sass-lang.com/
    // Place all the styles related to the Users controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: https://sass-lang.com/
    #user-table {
        width: 70%;
        border-collapse: collapse;
        margin-left: 10%
    }
    
    #user-table td,
    #user-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #user-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    
    #form-container {
        width: 300px;
        min-height: 400px;
        border: 2px solid black;
        margin: auto;
    }
    
    #form-container h1 {
        text-align: center;
        margin-bottom: 20%;
    }
    
    .field-container {
        margin-left: 15%;
        margin-bottom: 15px;
    }
    
    .field-container .button {
        background-color: black;
    }
    
    .text-field {
        width: 200px;
        height: 25px;
    }
    
    .error-msg {
        color: red;
        font-size: 12px;
    }
    
    .success-msg {
        color: green;
        font-size: 12px;
    }